<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Settings</title>
</head>

<body>
    {% include 'college/navbar.html' %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{college}}</h1>
            <p class="lead">This page has all details about {{college}} </p>
            <p><a class="btn btn-sm btn-info" style='width:200px;'
                    href="{% url 'stream_settings' college_id %}">STREAMS</a>
                <a class="btn btn-sm btn-danger" style='width:200px;'
                    href="{% url 'student_settings' college_id %}">STUDENTS</a>
                <a class="btn btn-sm btn-info" style='width:200px;'
                    href="{% url 'committee' college_id %}">COMMITTEE</a></p>

        </div>
    </div>



</body>

</html>