{% extends 'college/navbar.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{college}}</h1>
        <p class="lead">Are you sure you want to delete {{college}} </p>
        <form action='' method="POST">
            {% csrf_token %}

            <a class="btn btn-info" href="{% url 'homePage' %}">Cancel</a>
            <input class="btn btn-danger" name='submit' type="submit">

        </form>
    </div>
</div>


{% endblock %}